{
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "${ANTHROPIC_AUTH_TOKEN}",
    "ANTHROPIC_BASE_URL": "${ANTHROPIC_BASE_URL:-https://coding.dashscope.aliyuncs.com/apps/anthropic}",
    "ANTHROPIC_MODEL": "${ANTHROPIC_MODEL:-kimi-k2.5}"
 },
  "model": "${ANTHROPIC_MODEL:-kimi-k2.5}",
  "alwaysThinkingEnabled": false
}
